html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	display: block;
	position: fixed;
	font-size: larger;
}

canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}

.debugText {
	font-family: Cascadia Code, cascadia-code;
	/* font-size: 11pt; */
	margin: 0px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	text-align: right;
	color: #FFFFFF;
}

.context-menu {
	position: absolute;
}
.button {
	position: absolute;
	text-align: center;
	color: white;
	background-color: #00695A;
	border: none;
	display: grid;
	font-size: large;
	padding: 8px;
	white-space: nowrap;
}