html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	display: block;
	position: fixed;
}

canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}

.debugText {
	font-family: Cascadia Code, cascadia-code;
	font-size: 20px;
	margin: 0px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	text-align: right;
	color: #FFFFFF;
}